<h1>Blog</h1>
 <div class="row">
   <% @articles.each do |article|%>
   <div class="col-md-4 panel panel-default">
     <%= render article %>
     <%= link_to 'Show', article_path(article) %> |
     <%= link_to 'Edit', edit_article_path(article) %> |
     <%= link_to 'Destroy', article_path(article),
     method: :delete,
     data: { confirm: 'Are you sure?' } %>
   </div>
   <% end %>
   <%#= render @articles %>
 </div>

 <%= link_to 'Create Article', new_article_path %>
